@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  body {
    @apply bg-[#f4f4f4] dark:bg-darklight;
  }

  button {
    @apply outline-none focus:outline-none;
  }
}

@layer utilities {
  .nav-icon {
    @apply w-6 h-6 text-gray-700 dark:text-gray-300;
  }

  .dropdown-icon {
    @apply w-4 h-4 dark:text-white;
  }

  .dropdown-text {
    @apply text-sm;
  }

  .page-default {
    @apply min-h-screen;
  }

  .form-icon {
    @apply w-4 h-4 text-gray-800 dark:text-gray-300;
  }

  .container {
    @apply mt-20 w-[100vw] lg:w-[80vw] mx-auto pb-10;
  }

  .text-color {
    @apply text-gray-700 dark:text-gray-400;
  }

  .btn {
    @apply w-40 py-[5px] text-sm text-gray-300 uppercase bg-purple-600 rounded-full flex justify-center;
  }

  .dropdown-item {
    @apply flex items-center p-2 space-x-3 transition duration-150 ease-in-out hover:bg-gray-100 dark:hover:bg-darklight;
  }
}

@layer components {
}
